.header {
    margin-bottom: 64px;
    .header-bg {
        height: 153%;
        background: url('../img/header-mobile-page-bg.png') 0 100% no-repeat;
        background-size: cover;
    }
    @media (min-width: 520px){
        .form {
            padding: 35px 0 40px;
        }
    }
    @media (min-width: 768px){
        .form{
            padding: 16px 0;
        }
        margin-bottom: 90px;
        .header-bg{
            background: url('../img/header-page-bg.png') 0 100% no-repeat;
            background-size: cover;
        }
        .header-content {
            padding: 22px 0 15px;
        }
    }
    @media (min-width: 1024px) {
        margin-bottom: 140px;
        .header-bg {
            height: 190%;
        }
        .header-content{
            padding: 22px 0 10px;
        } 
    }
    @media (min-width: 1280px) {
        margin-bottom: 160px;
        .header-bg {
            height: 200%;
        }
        .header-content {
            padding: 22px 0 10px;
        }
    }
    @media (min-width: 1400px) {
        margin-bottom: 182px;
        .header-bg {
            height: 205%;
        }
        .header-content {
            padding: 30px 0 10px;
        }
    }
}

.personal-area-page {
    padding: 21px 0 30px;
    .title{
        text-align: center;
        position: relative;
        margin-bottom: 40px;
        padding-bottom: 12px;
        h2{
            font-size: 24px;
            font-weight: 400;
            color: #414550;
            line-height: 29px;
        }
        span{
            left: 50%;
            bottom: 0;
            width: 53px;
            height: 5px;
            position: absolute;
            transform: translate(-50%, 0);
            &::before{
                content: '';
                top: 0;
                left: 0;
                width: 11px;
                height: 100%;
                position: absolute;
                border-radius: 20px;
                background: #F14942;
            }
            &::after{
                content: '';
                top: 0;
                right: 0;
                width: 36px;
                height: 100%;
                position: absolute;
                border-radius: 20px;
                background: #F14942;
            }
        }
    }
    .personal-area-content{
        border-radius: 20px;
        background: #FFFFFF;
        padding: 32px 20px 40px;
        box-shadow: 0 4px 20px #E6EDF9;
        .area-nav{
            width: 250px;
            margin: 0 auto 48px;
            li{
                margin-bottom: 12px;
                &:last-child{
                    margin-bottom: 0;
                }
                a{
                    display: block;
                    text-align: center;
                    border-radius: 40px;
                    padding: 10px 10px 7px;
                    border: 2px solid #C7CEDC;
                    transition: all 0.5s;
                    &:hover{
                        background: #F14942;
                        border: 2px solid #F14942;
                        span{
                            color: #ffffff;
                            i{
                                color: #ffffff;
                            }
                        }
                    }
                    span{
                        color: #5F6470;
                        font-size: 18px;
                        line-height: 22px;
                        position: relative;
                        padding-left: 29px;
                        display: inline-block;
                        transition: all 0.5s;
                        i{
                            left: 0;
                            top: 50%;
                            font-size: 18px;
                            color: #C7CEDC;
                            position: absolute;
                            transform: translate(0, -50%);
                            transition: all 0.5s;
                        }
                    }
                }
            }
            .active{
                a{
                    border: 2px solid #F14942;
                    span{
                        color: #F14942;
                        i{
                            color: #F14942;
                        }
                    }
                }
            }
        }
        .personal-item{
            display: none;
        }
        .personal-item.active{
            display: block;
        }
        .profile{
            form {
                p{
                    font-size: 18px;
                    color: #414550;
                    line-height: 17px;
                    margin-bottom: 25px;
                }
                span{
                    display: block;
                    font-size: 16px;
                    color: #5F6470;
                    line-height: 20px;
                }
                label{
                    display: block;
                    overflow: hidden;
                    border-radius: 5px;
                    position: relative;
                    background: #E8EFF7;
                    i{
                        top: 50%;
                        left: 10px;
                        color: #7993B3;
                        font-size: 20px;
                        position: absolute;
                        transform: translate(0, -50%);
                    }
                    input{
                        width: 100%;
                        height: 41px;
                        border: none;
                        font-size: 14px;
                        color: #414550;
                        line-height: 16px;
                        padding: 0 10px 0 40px;
                        background: transparent;
                    }
                }
                .textarea{
                    margin-bottom: 21px;
                    textarea{
                        width: 100%;
                        border: none;
                        resize: none;
                        height: 124px;
                        font-size: 14px;
                        color: #414550;
                        line-height: 16px;
                        padding: 8px 10px;
                        border-radius: 5px;
                        position: relative;
                        background: #E8EFF7;
                    }
                }
                button{
                    height: 43px;
                    display: table;
                    font-size: 16px;
                    color: #F14942;
                    line-height: 24px;
                    padding: 10px 32px;
                    text-align: center;
                    margin: 40px auto 0;
                    border-radius: 30px;
                    background: transparent;
                    border: 2px solid #F14942;
                    transition: all 0.3s;
                    &:hover{
                        color: #ffffff;
                        background: #F14942;
                    }
                }
                .form-item{
                    margin-bottom: 60px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                .input{
                    margin-bottom: 18px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .orders{
            p{
                font-size: 18px;
                color: #414550;
                line-height: 17px;
                margin-bottom: 10px;
            }
            .orders-item{
                &:last-child{
                    margin-bottom: 0;
                }
                .orders-title{
                    width: 100%;
                    font-size: 16px;
                    line-height: 18px;
                    padding-bottom: 5px;
                    margin-bottom: 15px;
                    display: inline-block;
                    border-bottom: 2px solid #DFEAF7;
                }
                .item{
                    display: flex;
                    flex-wrap: wrap;
                    margin: 0 -2%;
                    align-items: flex-start;
                    .product{
                        width: 46%;
                        margin: 0 2% 34px;
                        img{
                            width: 68px;
                            margin-bottom: 4px;
                            box-shadow: 0px 5px 8px #CDD5E4;
                        }
                        .text{
                            h4{
                                font-size: 18px;
                                color: #414550;
                                line-height: 19px;
                                font-weight: bold;
                                margin-bottom: 11px;
                                font-family: 'Conv_CirceBold';
                            }
                            .sum{
                                display: block;
                                color: #414550;
                                font-size: 18px;
                                line-height: 18px;
                                margin-bottom: 12px;
                            }
                            a{
                                width: auto;
                                text-align: center;
                                border-radius: 30px;
                                display: inline-block;
                                padding: 5px 10px 3px;
                                background: transparent;
                                border: 2px solid #F14942;
                                transition: all 0.3s;
                                &:hover{
                                    background: #F14942;
                                    span{
                                        color: #ffffff;
                                        i{
                                            background: #FFFFFF;
                                            box-shadow: 0px 4px 4px rgba(220, 28, 20, 0.33);
                                            &::before{
                                                color: #F14942;
                                            }
                                        }
                                    }
                                }
                                span{
                                    font-size: 18px;
                                    color: #F14942;
                                    line-height: 24px;
                                    position: relative;
                                    padding-right: 30px;
                                    display: inline-block;
                                    transition: all 0.3s;
                                    i{
                                        top: 45%;
                                        right: 1px;
                                        width: 22px;
                                        height: 22px;
                                        position: absolute;
                                        border-radius: 50%;
                                        background: #F14942;
                                        transform: translate(0, -50%);
                                        box-shadow: 0px 4px 4px rgba(220, 28, 20, 0.33);
                                        transition: all 0.3s;
                                        &::before{
                                            top: 50%;
                                            left: 50%;
                                            font-size: 10px;
                                            color: #FFFFFF;
                                            position: absolute;
                                            transform: translate(-50%, -50%);
                                            transition: all 0.3s;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .heart{
            display: flex;
            flex-wrap: wrap;
            margin: 0 -2%;
            align-items: flex-start;
            .product{
                width: 46%;
                margin: 0 2% 15px;
                position: relative;
                .favorites-link{
                    top: -1px;
                    z-index: 1;
                    left: 98px;
                    position: absolute;
                    i{
                        font-size: 19px;
                        color: #F14942;
                        transition: all 0.5s;
                    }
                    .icon-heart-empty{
                        top: 50%;
                        left: 50%;
                        opacity: 0;
                        position: absolute;
                        transform: translate(-50%, -50%);
                        text-shadow: 0px 4px 4px rgba(241, 73, 66, 0.34);
                    }
                }
                .favorites-link.active{
                    i{
                        opacity: 0;
                    }
                    .icon-heart-empty{
                        opacity: 1;
                    }
                }
                img{
                    width: 90px;
                    margin-bottom: 10px;
                    box-shadow: 0px 5px 8px #CDD5E4;
                }
                .text{
                    h4{
                        font-size: 18px;
                        color: #414550;
                        line-height: 19px;
                        font-weight: bold;
                        margin-bottom: 8px;
                        font-family: 'Conv_CirceBold';
                    }
                    .sum{
                        display: block;
                        color: #414550;
                        font-size: 18px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    @media (min-width: 768px) {
        padding: 25px 0 40px;
        .title {
            padding-bottom: 13px;
            h2 {
                font-size: 26px;
                line-height: 30px;
            }
        }
        .personal-area-content {
            padding: 40px 35px;
            .area-nav{
                width: auto;
                flex-wrap: wrap;
                display: flex;
                margin: 0 0 35px;
                align-items: flex-start;
                li{
                    margin-right: 15px;
                    &:last-child{
                        margin-right: 0;
                    }
                    a{
                        padding: 9px 16px 8px;
                    }
                }
            }
            .orders{
                p {
                    margin-bottom: 30px;
                }
                .orders-item {
                    margin-bottom: 20px;
                    .orders-title {
                        margin-bottom: 20px;
                    }
                    .item {
                        .product {
                            width: 29.33%;
                            margin: 0 2% 34px;
                        }
                    }
                }
            }
            .heart{
                .product {
                    width: 29.33%;
                    margin: 0 2% 34px;
                }
            }
        }
    }
    @media (min-width: 1024px) {
        padding: 28px 0 55px;
        .title {
            margin-bottom: 42px;
            h2 {
                font-size: 28px;
                line-height: 36px;
            }
        }
        .personal-area-content {
            .profile {
                form {
                    display: flex;
                    button{
                        margin: 40px 0 0;
                    }
                    .form-item{
                        width: 40%;
                        margin-bottom: 0;
                        margin-right: 10%;
                        &:last-child{
                            margin-right: 0;
                        }
                    }
                }
            }
            .orders {
                .orders-item {
                    .item {
                        .product{
                            display: flex;
                            align-items: flex-start;
                            img{
                                width: 80px;
                            }
                            .text{
                                margin-left: 20px;
                            }
                        }
                    }
                }
            }
            .heart{
                .product{
                    display: flex;
                    padding-right: 20px;
                    align-items: flex-start;
                    .favorites-link{
                        right: 0;
                        left: initial;
                    }
                    img{
                        width: 80px;
                    }
                    .text{
                        margin-left: 12px;
                    }
                }
            }
        }
    }
    @media (min-width: 1280px) {
        padding: 32px 0 75px;
        .title {
            margin-bottom: 45px;
            h2 {
                font-size: 32px;
                line-height: 38px;
            }
        }
        .personal-area-content {
            .area-nav {
                li {
                    margin-right: 25px;
                    a {
                        padding: 9px 20px 8px;
                    }
                }
            }
            .heart{
                margin: 0 -5%;
                .product{
                    width: 23.33%;
                    margin: 0 5% 34px;
                }
            }
        }
    }
    @media (min-width: 1400px) {
        padding: 39px 0 90px;
        .title {
            margin-bottom: 51px;
            h2 {
                font-size: 36px;
                line-height: 42px;
            }
        }
        .personal-area-content {
            padding: 51px 35px 50px;
            .area-nav {
                margin: 0 0 38px;
                li {
                    margin-right: 35px;
                }
            }
            .profile {
                form {
                    .input {
                        margin-bottom: 27px;
                    }
                    button {
                        margin: 45px 0 0;
                    }
                    .form-item {
                        margin-right: 11%;
                    }
                }
            }
            .orders {
                p {
                    margin-bottom: 35px;
                }
                .orders-item {
                    margin-bottom: 30px;
                    .orders-title {
                        font-size: 18px;
                        line-height: 20px;
                        margin-bottom: 25px;
                    }
                    .item {
                        .product {
                            img {
                                width: 90px;
                            }
                            .text {
                                margin-left: 13px;
                                h4{
                                    margin-bottom: 16px;
                                }
                                .sum{
                                    margin-bottom: 20px;
                                }
                                a{
                                    padding: 9px 17px 6px;
                                    span{
                                        padding-right: 40px;
                                        i{
                                            right: -1px;
                                            width: 24px;
                                            height: 24px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .heart {
                margin: 0 -8%;
                padding: 39px 0 0;
                .product {
                    width: 19.33%;
                    margin: 0 7% 15px;
                    img {
                        width: 90px;
                    }
                    .text {
                        h4 {
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }
}