@import "libs/header";
@import "libs/footer";
@import "libs/fonts";
@import "libs/fontello";
@import 'libs/normalize';
@import 'libs/register-form';

body {
    min-height: 100vh;
    position: relative;
    background: #F2F7FD;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

html {
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Conv_Circe';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
}

i{
    font-style: normal;
}

ul li,
ol li {
    margin: 0;
}

input[type="submit"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input {
    border-radius: 0;
    -webkit-appearance: none;
}

input[type="search"] {
    -webkit-appearance: none;
}

input:not([type=checkbox]):not([type=radio]),
textarea, 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
    cursor: pointer;
}

.clearfix {
    &:after {
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

textarea,
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     border-radius: 0;
}

input{
    -webkit-appearance: none;   
    appearance: none;   
}

.wrapper{
    overflow: hidden;
}

a {
    cursor: pointer;
}

.container {
    z-index: 4;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    @media (min-width: 768px) {
        padding: 0;
        width: 90%;
    }
    @media (min-width: 1024px) {
        width: 864px;
    }
    @media (min-width: 1280px) {
        width: 1080px;
    }
    @media (min-width: 1400px) {
        width: 1240px;
    }
}

.bread-crumbs {
    display: none;
    padding: 14px 0;
    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        li{
            margin-right: 4px;
            position: relative;
            padding-right: 10px;
            &:last-child{
                margin-right: 0;
                padding-right: 0;
                &::after{
                    display: none;
                }
            }
            &::after{
                content: '/';
                top: 50%;
                right: 0;
                font-size: 16px;
                color: #7993B3;
                line-height: 20px;
                position: absolute;
                transform: translate(0, -50%);
            }
            a{
                font-size: 16px;
                color: #7993B3;
                line-height: 20px;
                display: inline-block;
                transition: all .5s;
                &:hover{
                    color: #f14942;
                }
            }
            span{
                font-size: 16px;
                color: #7993B3;
                line-height: 20px;
                display: inline-block;
            }
        }
    }
    @media (min-width: 768px) {
        display: block;
    }
    @media (min-width: 1024px) {
        
    }
    @media (min-width: 1280px) {
        
    }
    @media (min-width: 1400px) {
        
    }
}