<footer class="footer">
    <div class="container">
        <div class="footer-nav">
            <nav>
                <ul>
                    <li><a href="about-us.html">О нас</a></li>
                    <li><a href="javascript:void(0)">Контакты</a></li>
                    <li><a href="javascript:void(0)">Сотрудничество</a></li>
                    <li><a href="javascript:void(0)">Партнёры</a></li>
                </ul>
            </nav>
            <div class="program-nav">
                <ul>
                    <li><a href="javascript:void(0)">Внимание</a></li>
                    <li><a href="javascript:void(0)">Память</a></li>
                    <li><a href="javascript:void(0)">Мышление</a></li>
                    <li><a href="javascript:void(0)">Речь</a></li>
                    <li><a href="javascript:void(0)">Моторное развитие</a></li>
                    <li><a href="javascript:void(0)">Восприятие</a></li>
                    <li><a href="javascript:void(0)">Произвольная регуляция</a></li>
                </ul>
            </div>
            <div class="data-nav">
                <ul>
                    <li><a href="javascript:void(0)">Возврат</a></li>
                    <li><a href="javascript:void(0)">Публичная оферта</a></li>
                    <li><a href="javascript:void(0)">Персональные данные</a></li>
                    <li><a href="javascript:void(0)">Служба поддержки</a></li>
                </ul>
            </div>
            <div class="social-shares">
                <ul class="shares">
                    <li><a href="javascript:void(0)">Акции</a></li>
                    <li><a href="blog.html">Блог</a></li>
                </ul>
                <p>NeuroGame в социальных сетях</p>
                <ul class="social">
                    <li><a href="javascript:void(0)"><i class="icon-instagram"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-fb"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-vk"></i></a></li>
                    <li><a href="javascript:void(0)"><i class="icon-youtube"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <ul>
                <li><img src="img/visa.png" alt=""></li>
                <li><img src="img/MasterCard.png" alt=""></li>
                <li><img src="img/PayPal.png" alt=""></li>
            </ul>
            <p>© 2020. NeuroGame</p>
        </div>
    </div>
</footer>