<header class="header">
    <div class="header-bg"></div>
    <div class="container">
        <div class="header-content">
            <div class="menu">
                <span class="open-menu">
                    <span></span>
                </span>
                <a href="index.html" class="logo">
                    <img src="img/logo.svg" alt="">
                </a>
                <nav>
                    <ul>
                        <li class="active"><a href="about-us.html">О нас</a></li>
                        <li><a href="javasceipr:void(0)">Программы</a></li>
                        <li><a href="shares.html">Акции</a></li>
                        <li><a href="blog.html">Блог</a></li>
                        <li><a href="javasceipr:void(0)">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="user-basket">
                <div>
                    <a class="favorites" href="javascript:void(0)"><i class="icon-heart-empty"></i></a>
                    <a class="basket" href="javascript:void(0)"><i class="icon-basket"></i><span><i>5</i></span></a>
                </div>
                <div class="personal-area">
                    <!-- <ul>
                        <li><a href="javascript:void(0)">Вход</a></li>
                        <li><a href="javascript:void(0)">Регистрация</a></li>
                    </ul>
                    <a class="area" href="javascript:void(0)"></a> -->
                    <span>Иван Иванов</span>
                    <i class="icon-user"></i>
                </div>
            </div>
        </div>
        <div class="form">
            <form action="">
                <input type="search" placeholder="Поиск">
                <button><i class="icon-search"></i></button>
            </form>
        </div>
    </div>
</header>