<div class="mobile-menu">
    <span class="close"></span>
    <nav>
        <span class="close-menu"></span>
        <ul>
            <li class="active"><a href="about-us.html">О нас</a></li>
            <li>
                <a href="javascript:void(0)">Программы</a>
                <ul>
                    <li><a href="programs.html">Внимание</a></li>
                    <li><a href="programs.html">Память</a></li>
                    <li><a href="programs.html">Мышление</a></li>
                    <li><a href="programs.html">Речь</a></li>
                    <li><a href="programs.html">Моторное развитие</a></li>
                    <li><a href="programs.html">Восприятие</a></li>
                    <li><a href="programs.html">Произвольная регуляция</a></li>
                </ul>
            </li>
            <li><a href="shares.html">Акции</a></li>
            <li><a href="blog.html">Блог</a></li>
            <li><a href="contacts.html">Контакты</a></li>
        </ul>
    </nav>
</div>

<header class="header">
    <div class="header-bg"></div>
    <div class="container">
        <div class="header-content">
            <div class="menu">
                <span class="open-menu">
                    <span></span>
                </span>
                <a href="index.html" class="logo">
                    <img src="img/logo.svg" alt="">
                </a>
                <nav>
                    <ul>
                        <li class="active"><a href="about-us.html">О нас</a></li>
                        <li>
                            <a href="javascript:void(0)">Программы</a>
                            <div class="drow">
                                <ul>
                                    <li data-drow="drow1" class="active"><a href="javascript:void(0)">Внимание</a></li>
                                    <li data-drow="drow2"><a href="javascript:void(0)">Память</a></li>
                                    <li data-drow="drow3"><a href="javascript:void(0)">Мышление</a></li>
                                    <li data-drow="drow4"><a href="javascript:void(0)">Речь</a></li>
                                    <li data-drow="drow5"><a href="javascript:void(0)">Моторное развитие</a></li>
                                    <li data-drow="drow6"><a href="javascript:void(0)">Восприятие</a></li>
                                    <li data-drow="drow7"><a href="javascript:void(0)">Произвольная регуляция</a></li>
                                </ul>
                                <div class="text drow1 active">
                                    <h4>Внимание</h4>
                                    <p>Развитие у ребёнка возможности сознательно управлять своим поведением, планировать, контролировать и выполнять действия.</p>
                                    <a href="programs.html">Подробнее <i class="icon-left-arrow"></i></a>
                                </div>
                                <div class="text drow2">
                                    <h4>Память</h4>
                                    <p>Развитие у ребёнка возможности сознательно управлять своим поведением, планировать, контролировать и выполнять действия.</p>
                                    <a href="programs.html">Подробнее <i class="icon-left-arrow"></i></a>
                                </div>
                                <div class="text drow3">
                                    <h4>Мышление</h4>
                                    <p>Развитие у ребёнка возможности сознательно управлять своим поведением, планировать, контролировать и выполнять действия.</p>
                                    <a href="programs.html">Подробнее <i class="icon-left-arrow"></i></a>
                                </div>
                                <div class="text drow4">
                                    <h4>Речь</h4>
                                    <p>Развитие у ребёнка возможности сознательно управлять своим поведением, планировать, контролировать и выполнять действия.</p>
                                    <a href="programs.html">Подробнее <i class="icon-left-arrow"></i></a>
                                </div>
                                <div class="text drow5">
                                    <h4>Моторное развитие</h4>
                                    <p>Развитие у ребёнка возможности сознательно управлять своим поведением, планировать, контролировать и выполнять действия.</p>
                                    <a href="programs.html">Подробнее <i class="icon-left-arrow"></i></a>
                                </div>
                                <div class="text drow6">
                                    <h4>Восприятие</h4>
                                    <p>Развитие у ребёнка возможности сознательно управлять своим поведением, планировать, контролировать и выполнять действия.</p>
                                    <a href="programs.html">Подробнее <i class="icon-left-arrow"></i></a>
                                </div>
                                <div class="text drow7">
                                    <h4>Произвольная регуляция</h4>
                                    <p>Развитие у ребёнка возможности сознательно управлять своим поведением, планировать, контролировать и выполнять действия.</p>
                                    <a href="programs.html">Подробнее <i class="icon-left-arrow"></i></a>
                                </div>
                            </div>
                        </li>
                        <li><a href="shares.html">Акции</a></li>
                        <li><a href="blog.html">Блог</a></li>
                        <li><a href="contacts.html">Контакты</a></li>
                    </ul>
                </nav>
            </div>
            <div class="user-basket">
                <div>
                    <a class="favorites" href="javascript:void(0)"><i class="icon-heart-empty"></i></a>
                    <a class="basket" href="basket.html"><i class="icon-basket"></i><span><i>5</i></span></a>
                </div>
                <!-- Если нет класа active появляеться имя пользователя -->
                <div class="personal-area active">
                    <ul>
                        <li><a class="entrance_js" href="javascript:void(0)">Вход</a></li>
                        <li><a class="check_js" href="javascript:void(0)">Регистрация</a></li>
                    </ul>
                    <a class="area" href="personal-area.html"></a>
                    <span>Иван Иванов</span>
                    <i class="icon-user"></i>
                </div>
            </div>
        </div>
        <div class="form">
            <form action="">
                <input type="search" placeholder="Поиск">
                <button><i class="icon-search"></i></button>
            </form>
        </div>
    </div>
</header>