<section class="register-form">
    <div class="container">
      <div class="register-content">
        <div class="text">
            <h4>Зарегистрироваться на сайте</h4>
            <p>И получите доступ к нашей коллекции развивающих программ</p>
        </div>
        <form>
            <input type="text" placeholder="Ваше имя">
            <input type="text" placeholder="E-mail">
            <button><span>Продолжить<i class="icon-left-arrow"></i></span></button>
        </form>
      </div>
    </div>
  </section>