
.icon-heart:before { content: '\e0b1'; } /* '' */
.icon-fb:before { content: '\e0e1'; } /* '' */
.icon-basket:before { content: '\e801'; } /* '' */
.icon-heart-empty:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-left-arrow:before { content: '\e805'; } /* '' */
.icon-right-arrow:before { content: '\e806'; } /* '' */
.icon-search:before { content: '\e807'; } /* '' */
.icon-user:before { content: '\e808'; } /* '' */
.icon-vk:before { content: '\e809'; } /* '' */
.icon-shares:before { content: '\e80a'; } /* '' */
.icon-down-arrow:before { content: '\e80b'; } /* '' */
.icon-form-mail:before { content: '\e80c'; } /* '' */
.icon-form-tel:before { content: '\e80d'; } /* '' */
.icon-form-user:before { content: '\e80e'; } /* '' */
.icon-exit:before { content: '\e80f'; } /* '' */
.icon-history:before { content: '\e810'; } /* '' */
.icon-lock:before { content: '\e811'; } /* '' */
.icon-google:before { content: '\e812'; } /* '' */
.icon-facebook2:before { content: '\e813'; } /* '' */
.icon-vk2:before { content: '\e814'; } /* '' */
.icon-drop:before { content: '\e815'; } /* '' */
.icon-youtube:before { content: '\e816'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */